@import 'colors';
@import 'fonts';
@import 'tip';
@import 'form';
@import 'error';
@import 'header';
@import 'footer';

body {
  font: 18px Arial;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

pre { display: none}


@media screen {
  #stripe {
      background: #fdd300; /* Old browsers */
      background: -moz-linear-gradient(left, #00c8f7 0%, #fdd300 35.25%, #d834ad 71.24%, #ff2973 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00c8f7), color-stop(35.25%,#fdd300), color-stop(71.24%,#d834ad), color-stop(100%,#ff2973)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left, #00c8f7 0%,#fdd300 35.25%,#d834ad 71.24%,#ff2973 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left, #00c8f7 0%,#fdd300 35.25%,#d834ad 71.24%,#ff2973 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(left, #00c8f7 0%,#fdd300 35.25%,#d834ad 71.24%,#ff2973 100%); /* IE10+ */
      background: linear-gradient(to right, #00c8f7 0%,#fdd300 35.25%,#d834ad 71.24%,#ff2973 100%); /* W3C */
      height: 5px;
      width: 100%;
  }

  .radar {
    width: 80%;
    margin: 0 auto;
    position: relative;

    svg.radar-plot {
      margin: 0 auto;
      transition: all 1s ease;
      position: absolute;
      left: 0;
      right: 0;
      z-index: 10;

      .legend {
        visibility: hidden;
        transition: visibility 1s ease 1s;
        color: $black;
      }

      path {
        &.ring-arc-5 {
          stroke: none;
          fill: $grey-lightest;
        }
        &.ring-arc-4 {
          stroke: none;
          fill: $grey-light;
        }
        &.ring-arc-3 {
          stroke: none;
          fill: $grey;
        }
        &.ring-arc-2 {
          stroke: none;
          fill: $grey-dark;
        }
        &.ring-arc-1 {
          stroke: none;
          fill: $grey-darkest;
        }
        &.ring-arc-0 {
          stroke: none;
          fill: $grey-even-darker;
        }
      }

      .blip-link {
        text-decoration: none;
        cursor: pointer;
      }

      .quadrant-group {
        cursor: pointer;
      }

      circle, polygon, path {
        &.first {
          fill: $green;
          stroke: none;
        }
        &.second {
          fill: $blue;
          stroke: none;
        }
        &.third {
          fill: $orange;
          stroke: none;
        }
        &.fourth {
          fill: $violet;
          stroke: none;
        }
      }

      line {
        stroke: white;
      }

      text {
        &.blip-text {
          font-size: 9px;
          font-style: italic;
          fill: $white;
        }

        &.line-text {
          font-weight: bold;
          text-transform: uppercase;
          fill: $black;
          font-size: 8px;
        }
      }
    }

    div.quadrant-table {

      .quadrant-table__name {
        display: none;
      }

      max-height: 0;
      max-width: 0;
      position: absolute;
      overflow: hidden;
      z-index: 20;
      left: 20px;

      transition: max-height 0.5s ease 1s;

      h3 {
        text-transform: uppercase;
        font-size: $baseFont;
        margin: 0;
        font-weight: bold;
      }

      &.selected {
        position: relative;
        max-height: 10000px;
        max-width: 40%;
        float: left;
      }

      ul {
        padding: 0;
        margin-left: 0;

        li {
          list-style-type: none;
          padding-left: 0;

          .blip-list-item {
            padding: 2px 5px;
            border-radius: 2px;
            cursor: pointer;
            font-size: $baseFont;
            font-weight: 400;

            &.highlight {
              color: white;
              background-color: rgba(0, 0, 0, 0.8);
            }
          }

          .blip-item-description {
            max-height: 0;
            overflow: hidden;
            width: 300px;

            p {
              margin: 0;
              border-top: 1px solid rgb(119, 119, 119);
              border-bottom: 1px solid rgb(119, 119, 119);
              padding: 20px;
              color: $grey-text;
              font-weight: 100;
              font-size: 14px;
            }

            transition: max-height 0.2s ease;
            &.expanded {
              transition: max-height 0.5s ease 0.2s;
              max-height: 1000px;
            }
          }
        }
      }
    }
  }
}
